#root{
  width:100%;
  overflow:hidden;
}
#top-nav{
  position:relative;
  padding:5px;
  height:60px;
  overflow:hidden;
  z-index:5;
}
#top-nav-inner{
  position:absolute;
  bottom:-40px;
  width:100%;
  text-align:center;
}
#top-nav a{
  color:#eee;
  text-decoration: none;
  margin-right:15px;
  font-size:20px;
  font-weight:bold;
}

#footer{
  display:none;
  position: relative;
  padding: 5px;
  height: 180px;
  border-bottom: 1px solid white;
  overflow: hidden;
  background-color: #fff;
}
#footer-inner{
  position:absolute;
  top:-50px;
  width:100%;
  text-align:center;
}
#footer a{
  color:grey;
  text-decoration: none;
  margin-right:15px;
}


body{
  background-color: #fff;
}