#root{
  width:100%;
  overflow:hidden;
}
#top-nav{
  position:relative;
  padding:5px;
  height:125px;
  border-bottom:1px solid white;
  overflow:hidden;
}
#top-nav-inner{
  position:absolute;
  bottom:-40px;
  width:100%;
  text-align:center;
}
#top-nav a{
  color:grey;
  text-decoration: none;
  margin-right:15px;
}

#footer{
  position:relative;
  padding:5px;
  height:150px;
  border-bottom:1px solid white;
  overflow:hidden;
}
#footer-inner{
  position:absolute;
  top:-50px;
  width:100%;
  text-align:center;
}
#footer a{
  color:grey;
  text-decoration: none;
  margin-right:15px;
}


body{
  background-color: #fff;
}