#root{
  width:100%;
  overflow:hidden;
}
#pages{
  opacity:0;
  background-image: url("./jpg/sky-2.jpg"), url("./jpg/sky.jpg");
  background-size: cover;
  background-blend-mode: color;
}

#top-nav{
  position:relative;
  padding:5px;
  height:60px;
  overflow:hidden;
  z-index:5;
}
#top-nav-inner{
  position:absolute;
  bottom:-40px;
  width:100%;
  text-align:center;
}
#top-nav a{
  color:#eee;
  text-decoration: none;
  margin-right:15px;
  font-size:20px;
  font-weight:bold;
}

#footer{
  position:fixed;
  left: 0;
  bottom: 0;
}
#footer-inner{
  width:100%;
  text-align:center;
}
#footer a{
  color:grey;
  text-decoration: none;
  margin-right:15px;
}


body{
  
}