#landscape{
    margin:0px;
    width:100%;
    position:relative;
    height:250px;
    overflow:hidden;
}
.background-panel{
    position:relative;
    left:-200px;
    top:0;
    width:2400px;
    height:600px;
    background-position: bottom;
    background-size: cover;
    opacity:0;
}
.background-panel.blue{
    background-image: url("./jpg/sky.jpg");
    opacity:.5;
}
.background-panel.pink{
    position:absolute;
    opacity:.5;
    background-image: url("./jpg/sky-2.jpg");
}
#LandscapeSVG{
    position:absolute;
    bottom: 24px;
    opacity:1;
    transform:scale(1);
    background-color: #eeeeee;
    border-top: 30px solid #fafafa;
}
#sky-1{
    fill:#e8e8e8;
}
#sky-2{
    fill:#d3d3d3;
}
#sky-3{
    fill:#cacaca;
}
#LandscapeSVG path{
}
.back path{
    fill: rgb(120, 120, 120);
}
.middle path{
    fill: rgb(82, 82, 82);
}
.front path{
    fill: rgb(0, 0, 0);
}