.page{
    width:100%;
    top: 150px;
    left: 0;
    text-align:center;
    padding:15px;
    padding-bottom:250px;   
}
.page-content{
    margin:auto;
    margin-top:100px;
    text-align: left;
    max-width:800px;
    width:85%;
    padding:0px 10px 0px 10px;
    color:black;
}