.nav{
    position:fixed;
    top:0;
    left:0px;
    z-index:25;
}
.nav.open .links{
    left:-2px;
}
.nav-link.active a{
}
.nav .links{
    left:-300px;
}
.links{
    transition: left 1s;
    position:relative;
    top:127px;
    border:1px solid rgb(88, 88, 88);
    background-color:#2c2b2b;
    padding:10px;
    padding-left:20px;
    padding-right:40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius:8px;
    box-shadow: 3px 3px 3px rgb(130, 130, 130);
}
.links a{
    position: relative;
    color: rgb(202, 202, 202);
    font-size: 22px;
    text-decoration: none;
}
.footer-inner a{
    position:relative;
}
.links a:hover, #footer-inner a:hover{
    color:white;
}

.links a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .links a:hover::before{
    transform: scaleX(1);
  }

  .links .nav-link.active a::before{
    transform: scaleX(1);
  }


.menu{
    display: inline;
    position: relative;
    font-size: 23px;
    top: 3px;
    cursor: pointer;
}

.links ul{
    list-style-type: none;
    padding:0px;
}
.links li{
    margin:10px 0px 10px 0px;
}