.nav{
    position:absolute;
    top:0;
    left:0px;
    
}
.nav.open .links{
    left:-2px;
}
.nav .links{
    left:-300px;
}
.burger{
    position:relative;
    left:20px;
    top:10px;
}
.links{
    transition: left 1s;
    position:relative;
    top:20px;
    border:1px solid rgb(88, 88, 88);
    background-color:#2c2b2b;
    padding:10px;
    padding-left:20px;
    padding-right:40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius:8px;
    box-shadow: 3px 3px 3px rgb(130, 130, 130);
}
.links a{
    color: rgb(202, 202, 202);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
.links a:hover{
    color:white;
}
.links ul{
    list-style-type: none;
    padding:0px;
}
.links li{
    margin:10px 0px 10px 0px;
}